average_position_equilibration.dump.*
average_position_over_files.out
final_configuration_equilibration.restart
final_volume_equilibration.dat
lammps_equilibration.log
zero_temperature_crystal.lmp
*.png
lammps_equilibration.csv
