{
  "property-id" "tag:staff@noreply.openkim.org,2024-03-11:property/thermal-expansion-coefficient-npt"

  "property-title" "Thermal expansion coefficient of an arbitrary crystal structure at given temperature and pressure"

  "property-description" "Thermal expansion coefficient of an arbitrary crystal structure at given temperature and pressure."

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; CHANGE THE SECTION BELOW WHEN CREATING NEW PROPERTIES
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

"alpha11" {
  "type"          "float"
  "has-unit"      true
  "extent"        []
  "required"      true
  "description"   "the 11 component of the thermal expansion tensor."
}

"alpha22" {
  "type"          "float"
  "has-unit"      true
  "extent"        []
  "required"      true
  "description"   "the 22 component of the thermal expansion tensor."
}

"alpha33" {
  "type"          "float"
  "has-unit"      true
  "extent"        []
  "required"      true
  "description"   "the 33 component of the thermal expansion tensor."
}

"alpha12" {
  "type"          "float"
  "has-unit"      true
  "extent"        []
  "required"      true
  "description"   "the 12 component of the thermal expansion tensor."
}

"alpha13" {
  "type"          "float"
  "has-unit"      true
  "extent"        []
  "required"      true
  "description"   "the 13 component of the thermal expansion tensor."
}

"alpha23" {
  "type"          "float"
  "has-unit"      true
  "extent"        []
  "required"      true
  "description"   "the 23 component of the thermal expansion tensor."
}

"thermal-expansion-coefficient" {
    "type"         "float"
    "has-unit"     true
    "extent"       [3,3]
    "required"     true
    "description" "Thermal expansion coefficient in rank-2 tensor form."
  }

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; END OF NEW FIELDS TO DEFINE
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; If your material property can be meaningfully characterized at finite temperature and stress, uncomment the below section. You should do this even if the Test Driver you are writing only works at 0K and 0 Bar, for when future Test Drivers are written that work at finite T and pressure.
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  "temperature" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description"  "Temperature of the crystal."
  }
  "cell-cauchy-stress" {
    "type"         "float"
    "has-unit"     true
    "extent"       [6]
    "required"     true
    "description"  "The [xx,yy,zz,yz,xz,xy] components of the prescribed symmetric Cauchy stress tensor. The numerical value of the stress tensor of a test result or reference data may be different due to tolerance, and can be checked by inspecting the output files of the test or the reference data description. The components should be expressed in the same coordinate system as the structure specified by prototype-label and parameter-values, with the orientation of lattice vectors defined in M. J. Mehl et al., Comput. Mater. Sci. 136, S1 (2017)."
  }

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; END OF NPT SECTION, BELOW IS THE DESCRIPTION OF THE CRYSTAL THAT SHOULD PROBABLY BE IN EVERY
; CRYSTAL GENOME PROPERTY DEFINITION
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

  "prototype-label" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     true
    "description"  "Prototype label (not including an enumeration suffix) as defined by the AFLOW standard (e.g. 'A_tI4_141_a') for the structure. It is expected that the alphabetically lowest of all equivalent labels is chosen."
  }
  "stoichiometric-species" {
    "type"         "string"
    "has-unit"     false
    "extent"       [":"]
    "required"     true
    "description"  "Element symbols corresponding to the atom types in the stoichiometric formula which appears at the start of the prototype label (e.g. ['Mo','S'] for the AB2 stoichiometric formula, means that the 'A' atom is 'Mo' and the 'B' atom is 'S' for the MoS_2 structure)."
  }
  "a" {
    "type"         "float"
    "has-unit"     true
    "extent"       []
    "required"     true
    "description"  "The average 'a' lattice constant of the crystal structure as defined by the AFLOW standard. Relative values of other lattice parameters (if present) are given in the 'parameter-values' key."
  }
  "parameter-names" {
    "type"         "string"
    "has-unit"     false
    "extent"       [":"]
    "required"     false
    "description"  "Names of the parameters other than 'a', if present, corresponding to this AFLOW prototype. These can include lattice parameters from the set {'b/a','c/a','alpha','beta','gamma'} (for the conventional crystal structure defined by lattice parameters a, b, and c and angles alpha, beta, gamma), and coordinates of Wyckoff positions that have a degree of variability labeled as 'x*', 'y*' and 'z*' where the asterisk represents an integer as defined by the AFLOW standard."
  }
  "parameter-values" {
    "type"         "float"
    "has-unit"     false
    "extent"       [":"]
    "required"     false
    "description"  "Values for the parameters listed in 'parameter-names' corresponding to the average positions of the atoms. Note that all parameters are dimensionless."
  }
  "library-prototype-label" {
    "type"         "string"
    "has-unit"     false
    "extent"       []
    "required"     false
    "description"  "The AFLOW library prototype, if any, matching the structure. Prototypes in the AFLOW library are associated with common short names used by the materials community. The library prototype includes an integer enumeration suffix defined by the AFLOW standard when there are multiple parameter values associated with the structure (e.g. 'A_tI4_141_a-001' for 'betaSn'). Because these prototype labels are named according to their original material's conventional chemical formula, they may differ from the 'prototype-label' key, which is expected to be standardized to have the alphabetically lowest possible of all equivalent labels."
  }
  "short-name" {
    "type"         "string"
    "has-unit"     false
    "extent"       [":"]
    "required"     false
    "description"  "Commonly used name associated with the 'library-prototype-label' key according to the AFLOW prototype library (e.g. 'Face-Centered Cubic' or 'Molybdenite')."
  }
}
